

body{
  color: #353535;
  font-family: "Lato", sans-serif;
  margin: 0;
  font-size: 100%;
  line-height: 1.5;
}

a {
  color: #1696d2;
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-size: 48px;
  margin: 0;
  padding-top: 80px;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 16px;
  text-align: center;
}

h3 {
  margin: 60px 0 30px 0;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin: 40px 0;
}

.clear {
  clear: both;
}

.date-line {
  color: #696969;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

#heroimage {
/*    background-image: url(../img/urby.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 54px;*/
}

.headerimage {
/*  // position: relative;
  // overflow: hidden;
  // width: 100%;
  // height: 430px;
  // z-index: -1;*/
}

.text-wrapper {
  padding-top: 56px;
  margin: 0 auto 100px auto;
  max-width: 1150px;
  width: 80%;
}


/******************************************
* BUTTONS
*******************************************/

.button {
  background-color: #1696D2;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  margin: 10px 10px 10px 0;
  padding: 10px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #12719E;
}

/******************************************
* DROPDOWN
*******************************************/

#combobox {
  background: url(../img/lookup.png) 96% / 15% no-repeat #ffffff;
  background-size: auto;
  border: 1px solid #D2D2D2;
  border-radius: 0;
  color: #696969;
  font-family: Lato;
  font-size: 20px;
  height: 44px;
  margin-left: 14px;
  padding-left: 16px;
  width: 340px;
}

#investment-cat-button {
  background: url(../img/down-arrow.png) 96% / 15% no-repeat #ffffff;
  background-size: auto;
  color: #696969;
  border: 1px solid #D2D2D2;
  font-family: Lato;
  font-size: 16px;
  width: 260px;
}

.ui-selectmenu-text {
  color: #696969;
}

/*#combobox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 230px;
    height: 45px;
    box-sizing: border-box;
     background: #ffffff;
    border: 1px solid #d2d2d2;
    border-radius: 0;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    color: #1696d2;
    cursor: pointer;

    background-size: auto;
    margin: 0 0 25px 0;
}*/

/*  .ui-selectmenu-button.ui-button {
    background: url(../images/blue-dropdown-bg.png) no-repeat right #ffffff;
    background-size: 30px 20px;
    width: 100%;
  }*/


/******************************************
* HEADER
*******************************************/

.at_a11y {
    display: none;
}

#aboutNavBar {
  display: none;
  position: absolute;
  top: 50px;
  height: 50px;
  background: #EFEFEF;
  color: #696969;
  text-transform: uppercase;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
}

#aboutNavTitle {
  display: none;
  padding-top: 13px;
  text-align: center;
  width: 100%;
}

#aboutNavTitle a {
  color: inherit;
  text-decoration: none;
}

#header-pinned {
    background: #FFFFFF;
    border-bottom: 2px solid #EEEEEE;
    color: #333333;
    font-size: 16px;
    height: 56px;
    left: 0;
    position: fixed;
    top: 0px;
    transition: top 0.25s linear;
    width: 100%;
    z-index: 999;
    -webkit-transition: top 0.25s linear;
    -moz-transition: top 0.25s linear;
    -o-transition: top 0.25s linear;
}

#header-pinned * {
  color: #333333;
  text-decoration: none;
}

#header-pinned .share-icons {
    background-color: transparent;
    width: 69px;
    height: 50px;
    margin: 0;
    padding: 0;
    top: 0;
    width: 60px;
    position: absolute;
    right: 0;
}

#header-pinned .share-icons .shareThisB {
    display: block;
    background-repeat: no-repeat;
    background-image: url(https://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -2396px;
    height: 32px;
    width: 32px;
    float: none;
    margin: 0 auto;
}

#header-pinned .share-icons .shareThisP {
    border-top: 0;
    border-left: 1px solid #e6e5e5;
    height: 56px;
    padding: 11px 0 0;
}

#header-pinned .share-icons .shareThisW {
    background-color: #fff;
    /* border: 1px solid #e6e5e5; */
    position: absolute;
    top: 50px;
    left: -100px;
    padding: 5px;
    border-top: 0;
    width: 160px;
    z-index: 3;
    display: none;
    float: none;
    top: 50px;
    right: 0;
    left: auto;
    width: 300px;
    text-align: right;
    border: 0;
    background: transparent;
}

#header-pinned .share-icons .addthis_toolbox {
    display: inline-block;
    width: auto;
    /* border: 1px solid #e6e5e5; */
    border-top: 0;
    background: #fff;
    padding: 10px 10px 0 0;
    margin: 0 auto;
}

#header-pinned .share-icons .addthis_toolbox a {
    margin-bottom: 5px;
}

#header-pinned .share-icons [class^="addthis_button_"] {
    display: inline-block !important;
    margin: 0 0 0 10px;
}

#header-pinned .share-icons .at15t_twitter.at16t_twitter,
#header-pinned .share-icons .addthis_button_facebook {
    display: block;
    background-repeat: no-repeat;
    background-image: url(https://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -2056px;
    height: 32px;
    width: 32px;
}

#header-pinned .share-icons .at15t_twitter.at16t_twitter,
#header-pinned .share-icons .addthis_button_facebook:hover {
    background-position: 0 -1609px;
}

#header-pinned .share-icons .at15t_twitter.at16t_twitter,
#header-pinned .share-icons .addthis_button_twitter {
    display: block;
    background-repeat: no-repeat;
    background-image: url(https://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -1169px;
    height: 32px;
    width: 32px;
}

#header-pinned .share-icons .at15t_twitter.at16t_twitter,
#header-pinned .share-icons .addthis_button_twitter:hover {
    background-position: 0 -1577px;
}

#header-pinned .share-icons .at15t_linkedin.at16t_linkedin,
#header-pinned .share-icons .addthis_button_linkedin {
    display: block;
    background-repeat: no-repeat;
    background-image: url(https://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -1641px;
    height: 32px;
    width: 32px;
}

#header-pinned .share-icons .at15t_linkedin.at16t_linkedin,
#header-pinned .share-icons .addthis_button_linkedin:hover {
    background-position: 0 -1379px;
}

#header-pinned .share-icons .at15t_google_plusone_share.at16t_google_plusone_share,
#header-pinned .share-icons .addthis_button_google_plusone_share {
    display: block;
    background-repeat: no-repeat;
    background-image: url(https://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -1719px;
    height: 32px;
    width: 32px;
}

#header-pinned .share-icons .at15t_email.at16t_email,
#header-pinned .share-icons .addthis_button_email {
    display: block;
    background-repeat: no-repeat;
    background-image: url(https://www.urban.org/sites/all/themes/urban/images/generated/icons-s8fe141aaaa.png);
    background-position: 0 -1449px;
    height: 32px;
    width: 32px;
}

#header-pinned .share-icons .at15t_email.at16t_email,
#header-pinned .share-icons .addthis_button_email:hover {
    background-position: 0 -1271px;
}

#header-pinned .share-icons [class^="addthis_button_"] {
    display: inline-block !important;
    margin: 0 0 0 10px;
}

#header-pinned .site-logo {
    background: url(https://www.urban.org/sites/all/themes/urban/images/logo-mini-dark.png) no-repeat;
    background-size: 44px 37px;
    display: block;
    height: 37px;
    left: 10px;
    margin-top: 9px;
    position: absolute;
    width: 44px;
}

#header-pinned .title {
  font-size: 24px;
  font-weight: 300;
  line-height: 56px;
  margin: 0 80px 0 55px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#header-pinned > div.title > span {
  margin-left: 20px;
}

#header-pinned .title span, #header-pinned .title a {
  display: inline;
}

.headerimage {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 430px;
  z-index: -1;
}

@media (max-width: 2000px){
  .headerimage {
      height: 478px;
  }
}

@media (max-width: 930px){
  .headerimage {
      height: 390px;
  }
}

@media (max-width: 600px){
  .headerimage {
      height: 220px;
  }
}
/*
// @media (max-height: 665px), (max-width: 1170px){
//   .headerimage {
//       height: 390px !important;
//   }
// }*/
/******************************************
* END HEADER
*******************************************/



/******************************************
* FOOTER
*******************************************/

footer {
  margin-top: 80px;
  position: relative;
  padding-bottom: 120px;
  bottom: 0;
  overflow: hidden;
  height: auto;
}

footer .content {
    width: calc(100% - 40px);
    margin: 0 auto;
    max-width: 760px;
    width: 80%;
}

footer li {
  font-size: 20px;
  padding-bottom: 8px;
}


footer h2 {
  text-transform: uppercase;
  font-weight: 300;
}

footer h4 {
  font-size: 30px;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 24px;
  line-height: 1.3;
  text-transform: uppercase;
}

footer p {
  font-size: 20px;
  font-weight: 400;
  margin: 24px 0;
}

.credits{
  font-style: italic;
}

.download {
  background-color: #f1f2f2;
  border: 1px solid #000000;
  cursor: pointer;
  display: inline-block;
  padding: 15px;
  margin-right: 20px;
  text-transform: uppercase;
  vertical-align: middle;
}

.credits {
    margin-top: 32px;
    margin-bottom: 16px;
}

.job {
  font-size: 20px;
  margin-bottom: 4px;
  margin-top: 12px;
  text-transform: uppercase;
}

.employee {
  font-size: 20px;
}

.urbanstatement {
    margin-bottom: 32px;
}

/******************************************
* END FOOTER
*******************************************/


/******************************************
* CUSTOM
*******************************************/

label {
  font-size: 26px;
  font-weight: 700;
}

.cat-menu {
  display: none;
}

.content-well {
  margin: 0 auto;
  max-width: 760px;
}

.pctl-rects {
  display: none;
}

#pctl-rect-demo {
  display: none;
}

#place-search {
  padding-top: 60px;
}

.viz-well > p.availability-note {
  color: #9D9D9D;
  display: inline-block;
  font-style: italic;
  font-weight: 400;
  margin-top: 8px;
}

.quintile-dial {
  background: url(../img/meter-bgd.svg) no-repeat top left;
  display: inline-block;
  max-width: 280px;
  width: 100%;
}

.quintile-dial#demo {
  font-size: 20px;
  float: right;
  margin-left: 9%; /* 70px/760px */
  max-width: 280px;
}

.quintile-dial#demo > div {
  margin-top: 18px;
  color: #696969;
  font-size: 18px;
  font-style: italic;
}

.quintile-dial#demo > div > span {
  border-bottom: 2px solid #FDBF11;
  color: #353535;
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  margin-bottom: 14px;
  padding-bottom: 6px;
}

.results-table {
  display: inline-block;
  float: left;
  margin-right: 10%;
  max-width: 280px;
  width: 29.33%;
}

.results-table#pctlpov {
  margin-right: 0;
}

.results-table > h3 {
  display: inline-block;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.1;
  margin: 16px 0 6px 0;
}

.results-table > p {
  color: #696969;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 27px;
  margin: 0 0 24px 0;
}

.results-table > table {
  border-collapse: collapse;
  font-size: 20px;
  table-layout: fixed;
  width: 100%;
}


#tabs > ul {
  border-bottom: 4px solid #D2D2D2;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

tbody > tr > td {
  cursor: pointer;
}

thead > tr > td {
  color: #696969;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  vertical-align: bottom;
}

td:last-of-type {
  text-align: right;
}

tr.flow-type > td {
  height: 48px;
}

tr.selected {
  border-bottom: 2px solid #FDBF11;
}

tr.selected > td, tr.moused {
  border-bottom: 2px solid #FDBF11;
}

tr.selected > td, tr.moused > td {
  font-weight: 700;
}

nav#tabs {

}

nav#tabs.sticky {
  background-color: #FFFFFF;
  left: 0;
  position: fixed;
  top: 56px;
  width: 100%;
  z-index: 2;
}

.mobile-caption {
  display: none;
}

li.geo-type {
  color: #D2D2D2;
  cursor: pointer;
  display: inline-block;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: -4px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 33.33%;
}


li.geo-type.selected {
  color: #1696D2;
  border-bottom: 4px solid #1696D2;
}

.needle {
  fill: #353535;
/*  transform-origin: bottom center;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out*/;
}

#share-btns {
  border-top: 1px solid #D2D2D2;
  padding-top: 28px;
  margin-top: 28px;
  text-align: center;
}

#share-btns > img {
  margin-right: 16px;
  width: 24px;
}

#share-btns > img:last-of-type {
  margin-right: 0;
}

.viz-well {
  margin: 0 auto;
  max-width: 1100px;
  width: 90%;
}

.viz-well > p {
  color: #696969;
  font-size: 22px;
  margin: 42px 0 28px 0;
}

@media (max-width: 1175px){
  tr.flow-type > td:last-of-type::after {
    content: ' ';
  }

  .viz-well {
    padding-right: 2%;
    padding-left: 2%;
  }

  .results-table {
    margin-right: 6%;
  }

  .results-table > h3 {
    height: 66px;
    vertical-align: bottom;
  }

  .results-table > p {
    height: 108px;
  }
}

@media (max-width: 900px){
  .results-table > p {
    font-size: 16px;
  }

  .results-table > table {
    font-size: 16px;
  }

  tr.flow-type > td {
    height: 40px;
  }
}

@media (max-width: 800px){

  .cat-menu {
    display: block;
  }

  #combobox {
    font-size: 16px;
    margin-left: 0;
    width: 90%;
  }

  #investment-cat-button {
    /*something making this not match the other 90%*/
    width: 93%;
  }

  footer .content {
    width: 90%;
  }

  label {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  li.geo-type {
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 12px;
  }

  li.geo-type.selected {
    border-bottom: 2px solid #1696D2;
    margin-bottom: -2px;
  }

  .mobile-caption {
    color: #696969;
    display: inline;
    font-size: 14px;
    font-style: italic;

  }

  .mobile-caption > img {
    left: 4px;
    position: relative;
    top: 2px;
    width: 95px;
  }

  #place-search > p {
    display: block;
    font-size: 15px;
    margin: 6px 0 18px 0;
  }

  .pctl-rects {
    display: inline-block;
    height: 20px;
    margin-bottom: -3px;
    width: 100%;
  }

  #pctl-rect-demo {
    display: inline-block;
    height: 60px;
    margin: 0 auto;
    width: 90%;
  }

  .quintile-dial {
    display: none;
  }

  .text-wrapper {
    width: 90%;
  }

  .results-table {
    display: block;
    float: none;
    margin: 0 auto;
    max-width: none;
    width: 100%;
  }

  .results-table#pctlpov {
    margin-right: auto;
  }

  .results-table > table {
    display: none;
  }

  .results-table > h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 24px 0 6px 0;
  }

  .results-table > p {
    font-size: 15px;
    line-height: 1.5;
    margin: 0 0 12px 0;
  }

  .results-table > h3, .results-table > p {
    height: auto;
    max-width: 90%;
  }

  #tabs > ul {
    border-bottom: 2px solid #D2D2D2;
  }

  .viz-well > p {
    display: none;
  }

}

@media (max-width: 600px){
  rect.pctl-box {
    stroke-width: 0.5;
  }
}



